

body {
    font-family: Arial, sans-serif;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    background: #f9fafb;
    display: grid;
}

header {
    grid-column: 1 / 3;
    text-align: center;
    margin-bottom: 30px;
    background: #e0e7ff;
    padding: 30px;
}
h1 {
    color: #2563eb
}

h2 {
    font-size: 1.2em;
    color: #334155;
}

h3 {
    color: #2563eb;
    border-left: 4px solid #2459ce;
    padding-left: 8px;
}

hr {
    width: 50%;
    border-top: 4px solid #2563eb;
}

main, aside {
    max-width: 100%;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 6px black;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px 20px;
    
}

th {
    border: 1px solid;
    background-color: #2563eb;
    color: white;
    
}

form {
    display: flex;
    flex-direction: column;
}

form [type="submit"] {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


#message {
    resize: vertical;
}

footer {
    grid-column: 1 / 3;
    text-align: center;
}


